.shapca {
width:100%;
height:320px;
font-size: 100px;
opacity: 1;	
color:#13232b;
background-image:url(service.jpg);
margin-top:0px;
}



body {
font-family: Arial;	
/*background-image: url(slide1.jpg);*/
opacity: 1;	
}

li{
display: inline;
color:#2E2E2E;
margin-right:6%;
border-color:black;
}


ul {
padding-top:6px;
padding-bottom:6px;
font-size:40px;		
color:#2E2E2E;
background-color:#505050;
border-radius:20px;
}

a {
color: #EEF5ED;
text-decoration: none;

}



#glavnaia {
color:#C0C0C0	;
text-decoration:none;	
}

.uslugi {
font-size:30px;	
cellpadding:15px;
background-color:#2F4F4F;	
color:#909090;	
}

.mizanimaemsia {
font-size: 65px;
color:#EEF5ED;	
background-color:#1E2460;	
}

a:hover {
color:#C0C0C0	;
text-decoration:underline;
background-color:#505050	;	
	
}  

#menuuslug {
border-style:dashed;
border:0px;
background-color:white;	
border-radius:10px;
text-align:center;	
//margin-left:125px;
text-decoration:none;
color:#2F4F4F;
padding:5px;
font-size:28px;	
}

#menuuslug:hover {
color:black;
font-size:30px;
}

.zastavka {
width:100%;	
	
}

hr{

color:#7F7679;	
	
}

table {	
border-radius:40px;
border-color:#16A906;
border-collapse:separate;
padding-left:2%;
padding-top:1%;
margin-bottom:2%;
border-spacing: 0px 35px;
width:99%;
}

caption {
	margin-bottom:30px;
	text-align:left;
	font-size:65px;
	font-weight:600;
}

td > img {
      
        border-radius: 35px 35px 35px 35px;
		
}
	
tr {
       font-size:32px;
        width:98%;
}	

#mpei {
	align:center;
	border-right:2px solid #000;
}


#menuuslug {
border-style:dashed;
border:0px;
background-color:white;	
border-radius:10px;
text-align:center;	
//margin-left:125px;
text-decoration:none;
color:#2F4F4F;
padding:5px;
font-size:28px;	
}

#menuuslug:hover {
color:black;
font-size:30px;
}

.zastavka {
width:100%;	
	
}

hr{
//size:10px;
color:#13232b;	
	
}

table {
border-radius:40px;
border-color:#16A906;
border-collapse:separate;
}

caption {
	margin-bottom:30px;
	text-align:left;
	font-size:65px;
	font-weight:600;
}

td > img {
      
        border-radius: 31px 31px 31px 31px;
		
}
		

		
		#vverh {
	
margin-top:-22px;	
	
} 
		